<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <service
            android:name=".DockOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".ShortcutActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="borderline" />
            </intent-filter>
            <intent-filter>
                <action android:name="app.axolotl.borderline.ACTION_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BorderlineShortcutReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="app.axolotl.borderline.OPEN_MENU" />
                <action android:name="app.axolotl.borderline.ADD_SNIPPET" />
                <action android:name="app.axolotl.borderline.APPEND_APPENDIX" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BorderlineActivity"
            android:exported="false"
            android:label="Borderline"
            android:theme="@style/Theme.MyApplication" />

        <activity android:name=".FilesActivity" android:exported="false" android:label="Files" />
        <activity android:name=".BrowserActivity" android:exported="false" android:label="Browser" />
        <activity android:name=".AppsActivity" android:exported="false" android:label="Apps" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
